@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");

/* Big Shoulders Display 800 900
   Outfit 300 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 100%;
}

.image-mobile {
  width: 100%;
  height: 240px;
  margin-bottom: 32px;
}
.image-tablet,
.image-desktop {
  display: none;
}

.start-section-content {
  padding: 0 16px;
}

#body-section {
  padding: 0 16px;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 60px;
  line-height: 55px;
  color: #151515;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 32px;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 32px;
}

.main-button {
  width: 260px;
  background: linear-gradient(
    to right,
    #151515 0%,
    #151515 80%,
    #d5966c 80%,
    #d5966c 100%
  );
}

.main-button:hover {
  background: linear-gradient(
    to right,
    #d5966c 0%,
    #d5966c 80%,
    #151515 80%,
    #151515 100%
  );
  cursor: pointer;
}

.start-section-content a {
  font-family: "Big Shoulders Display", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 275px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.63636px;
  color: #ffffff;
  padding: 24px 35px;
  margin-top: 32px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 120px;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
}

#body-section h2 {
  margin: 25px 0 21px;
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  color: #151515;
}

.desktop-br {
  display: none;
}

#body-section p {
  margin: 21px 0 32px;
}

#body-section img {
  margin-top: 16px;
}

#text-box {
  background-color: #151515;
  margin-top: 16px;
  padding: 48px 24px;
}

#text-box h2 {
  color: #ffffff;
  margin: 0 0 24px;
}

#text-box p {
  max-width: 550px;
  color: #ffffff;
}

footer {
  background-color: #151515;
  margin-top: 120px;
}

.footer-content {
  padding: 48px 32px;
}

.footer-content p {
  margin: 38px 0;
  color: #ffffff;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 20px;
}

@media screen and (min-width: 700px) {
  .image-hero-tablet {
    display: flex;
    justify-content: flex-start;
    width: 437px;
    height: auto;
    position: relative;
    margin-bottom: 120px;
  }

  .image-tablet {
    display: block;
  }

  .image-mobile,
  .image-desktop {
    display: none;
  }

  .start-section-content {
    padding: 0 40px 0 0;
    max-width: 550px;
    position: absolute;
    top: 145px;
    left: 389px;
  }

  #body-section {
    padding: 0 40px;
  }

  #body-section img {
    margin-top: 0;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid1 img {
    width: 398px;
    height: 400px;
    order: 2;
    margin-left: 68px;
    margin-bottom: 11px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11px;
  }
  .grid2 .item3 {
    width: 398px;
    height: 720px;
  }

  .grid2 .item4 {
    width: 280px;
    height: 313px;
  }
  .grid2 .item5 {
    width: 280px;
    height: 396px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-content p {
    width: 281px;
  }
  .footer-content a {
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 1100px) {
  .image-desktop {
    display: block;
  }

  .image-mobile,
  .image-tablet {
    display: none;
  }

  .black-div {
    position: relative;
    width: 450px;
    height: 800px;
    background-color: #151515;
  }

  .image-hero-desktop {
    display: flex;
    justify-content: center;
    width: 540px;
    height: auto;
    position: absolute;
    top: 0;
    left: 450px;
  }

  .start-section-content {
    padding: 0 40px 0 0;
    max-width: 550px;
    position: absolute;
    top: 190px;
    left: 925px;
  }

  h1 {
    position: absolute;
    top: 0;
    left: -762px;
    color: #ffffff;
    margin: 0;
    font-size: 96px;
    line-height: 88px;
    mix-blend-mode: difference;
  }

  p {
    max-width: 350px;
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
  }

  .start-section-content a {
    margin-top: 64px;
  }
  .image-desktop {
    display: block;
  }

  .image-mobile,
  .image-tablet {
    display: none;
  }

  #body-section {
    margin-top: 120px;
  }

  .grid1 img {
    width: 635px;
    height: 400px;
    order: 2;
    margin-left: 125px;
    margin-bottom: 30px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .grid2 .item3 {
    width: 635px;
    height: 720px;
    margin-left: 165px;
  }

  .grid2 .item4 {
    width: 445px;
    height: 313px;
  }

  .grid2 .item5 {
    width: 445px;
    height: 337px;
  }
  .footer-content .lg {
    width: 159.57px;
    height: 58px;
    margin-left: 125px;
  }
  .footer-content p {
    width: 430px;
    height: 80px;
  }
  .tw {
    padding-right: 165px;
  }
}
